@import "tailwindcss";

:root {
  --background: #17292d;
  --foreground: #ffffff;
  --font: var(--font-alice-sans);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-alice-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #17292d;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-alice-sans), Arial, Helvetica, sans-serif;
  line-height: 1.7;
}

.team-swiper .swiper-wrapper .swiper-slide {
  height: 400px;
}

/* burger */
.burger {
  display: none;
  width: 28px;
  height: 20px;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transition: .3s;
  content: '';
  width: 100%;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 5px);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6.5px, -5px);
}

@media (max-width:1024px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10001;
  }

  .nav ul {
    flex-direction: column;
    gap: 30px;
  }

  .nav ul li {
    text-align: center;
  }

  .nav {
    position: fixed;
    inset: 0;
    background: #17292D;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    pointer-events: none;
    transition: transform .45s ease;
    /* только transform */
    z-index: 10000;
  }

  .nav.open {
    transform: translateY(0);
    pointer-events: auto;
  }
}

h1,
h2,
.title-text {
  @apply lg:text-5xl
}

.text,
p {
  @apply text-lg lg:text-2xl 2xl:text-3xl
}